<div class="banner-index">
  <div class="banner-text">
    <h1>Welcome to Dr Cocktail</h1>
    <p>A website with nice cocktails!</p>
    <h2><%= link_to "+", new_cocktail_path %></h2>
  </div>
</div>

<div class="grid-drinks">
  <% @cocktails.each do |cocktail| %>
    <div class="card-container">
      <div class="drink-image">
        <%= link_to cocktail_path(cocktail) do %>
          <% if cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key, height: 300, wigth:300, crop: :fill %>
            <% else %>
              <%= cl_image_tag 'aadedjdp46ke9tjpg7bs0y4f6s54', height: 300, wigth:300, crop: :fill %>
            <% end %>
        <% end %>
      </div>
      <div class="content-card">
        <div class="drink-title">
          <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          <div class="stars-index">
            <% reviews = cocktail.reviews %>
            <% rating = [] %>
            <% reviews.each do |review| %>
              <% rating << review.rating %>
            <% end %>
            <% rating %>
            <% if rating.sum == 0 %>
              <%= puts "No reviews yet" %>
            <% else %>
              <% prom = rating.sum / cocktail.reviews.count %>
              <% prom.to_i.times do  %>
                <i class="fas fa-star" style="color: #ffa931; font-size: 9px"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="doses-grid">
          <% cocktail.doses.each do |dose| %>
            <p><%= dose.ingredient.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
