<div class="banner-index">
  <div class="banner-text">
    <h1>Welcome to Dr Cocktail</h1>
    <p>A website with nice cocktails!</p>
    <h2><%= link_to "+", new_cocktail_path %></h2>
  </div>
</div>

<div class="grid-drinks">
  <% @cocktails.each do |cocktail| %>
    <div class="card-container">
      <div class="drink-image">
        <%= link_to cocktail_path(cocktail) do %>
          <%= image_tag "beer", alt: "beer" %>
        <% end %>
      </div>
      <div class="content-card">
        <div class="drink-title">
          <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
        </div>
        <div class="doses-grid">
          <% cocktail.doses.each do |dose| %>
            <p><%= dose.ingredient.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

