<div class="container-show-cocktail">
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 500, wigth:500, crop: :fill %>
  <% else %>
    <%= cl_image_tag 'aadedjdp46ke9tjpg7bs0y4f6s54', height: 500, wigth:500, crop: :fill %>
  <% end %>
  <div class="show-cocktail-information">
    <div class="title-show-with-review">
      <h2><%= @cocktail.name %></h2>
      <div class="stars">
        <%= render 'shared/review' %>
      </div>
    </div>
    <div class="btns">
      <%= link_to "Add Doses", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
      <%= link_to "Add Review", new_cocktail_review_path(@cocktail), class: "btn btn-primary" %>
    </div>
    <div class="doses-show-info">
      <div class="doses-show-grid">
        <div class="title-show-grid">
          <h5>Ingredients</h5>
          <h5 style="margin-right: 150px">Doses</h5>
        </div>
        <% @cocktail.doses.each do |dose| %>
        <div class="dose-card-show">
          <p class="dose-name"><%= dose.ingredient.name %></p>
          <p class="dose-name"><%= dose.description %></p>
          <p class="dose-delete"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, dose_path(dose), method: :delete %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="review-show">
  <% @cocktail.reviews.each do |review| %>
    <ul style="list-style: none;">
      <li>
        <div class="review-content">
          <%= review.content %>
          <div class="stars">
            <% review.rating.to_i.times do  %>
              <i class="fas fa-star" style="color: #ffa931"></i>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  <% end %>
</div>


